<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-principal"><b> Mi ahorros</b></h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a [routerLink]="['']">Inicio</a>
                    </li>
                    <li class="breadcrumb-item">ahorros</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-8">
                <div
                    class="d-flex justify-content-end"
                    style="margin-bottom: 20px"
                >
                    <button
                        type="button"
                        (click)="openModal()"
                        class="btn btn-light rounded-pill shadow"
                    >
                        Agregar ahorro
                    </button>
                </div>

                <div *ngFor="let item of ahorros">
                    <div class="d-flex justify-content-between">
                        <h6><strong>{{ tiposAhorro[item.tipo_ahorro - 1 ].descripcion }}</strong></h6>
                        <div>
                            <button
                                (click)="openModal(item)" title="Editar ahorro"
                                class="btn btn-link cursor-pointer"
                            >
                                <i class="fas fa-pencil-alt edit"></i>
                            </button>
                            <button
                                (click)="eliminarAhorro(item)" title="Eliminar ahorro"
                                class="btn btn-link cursor-pointer"
                            >
                                <i class="fas fa-trash edit"></i>
                            </button>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-3">
                                    <img
                                        [src]="tiposAhorro[item.tipo_ahorro - 1 ].img"
                                        alt="Icono de ahorro"
                                        class="img-fluid"
                                    />
                                </div>
                                <div class="col-9">
                                    <div class="text-right mt-2">
                                        Meta
                                        <strong class="big-text">{{
                                            item.meta
                                                | currency: '$':'symbol':'1.0-0'
                                        }}</strong>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-4 text-left">
                                            <strong class="medium-text">{{
                                                item.monto
                                                    | currency
                                                        : '$'
                                                        : 'symbol'
                                                        : '1.0-0'
                                            }}</strong
                                            ><br />Monto Mensual
                                        </div>
                                        <div class="col-4 text-center">
                                            <strong class="medium-text">{{
                                                item.fechaLimite
                                                    | date: 'dd/MM/yyyy'
                                            }}</strong
                                            ><br />Fecha Límite
                                        </div>
                                        <div class="col-4 text-right">
                                            <strong class="medium-text">{{
                                                item.recaudado
                                                    | currency
                                                        : '$'
                                                        : 'symbol'
                                                        : '1.0-0'
                                            }}</strong
                                            ><br />Recaudado
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div
                                            class="progress-bar progress-bar-custom"
                                            role="progressbar"
                                            [style.width.%]="item.progreso"
                                        >
                                            <div class="progress-label">
                                                {{ item.progreso }}%
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <app-grafico-linea></app-grafico-linea>
                    </div>
                </div>
                <div class="card mb-3s">
                    <div class="card-head text-center mt-2">
                        <h5>¡Recuerda!</h5>
                    </div>
                    <div class="card-body">
                        <p>
                            Disminuye tus gastos hormigas para aumentar tus
                            ahorros y alcanzar tus metas mas rápido
                        </p>
                        <p>
                          <b
                              >Puedes ver tus gastos hormiga
                              <a href="">aquí</a></b
                          >
                      </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-modal-ahorro #modalAhorro [ahorro]="ahorros" (ahorroMod)="actualizarAhorro($event)"></app-modal-ahorro>
