.icono-hucha {
  font-size: 100px;
  color:#bee0e4
}

/* CSS */
.big-text {
font-size: 1.5rem;
}
.medium-text {
font-size: 1.2rem;
}

.progress-bar-custom {
background-color: #FFD48F;
}

.progress {
border-radius: 10px;
height: 20px;
}


.progress-label {
font-size: 0.9rem;
}

.edit{
color: #bee0e4;
font-size: 1.3rem
}