/* Colores pasteles para los roles */
.administrador {
    background-color: #f6b73c; /* Amarillo pastel */
    color: white;
}

.usuario {
    background-color: #9c8cb9; /* Morado pastel */
    color: white;
}

.administrativo-empresa {
    background-color: #80cbc4; /* Turquesa pastel */
    color: white;
}


