<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-principal"><b> Mi presupuesto</b></h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a [routerLink]="['']">Inicio</a>
                    </li>
                    <li class="breadcrumb-item">presupuesto</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-8">
                <div class="card">
                    <div class="card-body">
                        <!-- Selector de mes -->
                        <ul
                            class="pagination pagination-month justify-content-center align-items-center"
                        >
                            <li class="page-item">
                                <button
                                    (click)="removeMonth()"
                                    class="button-mes"
                                >
                                    <i class="fas fa-caret-left"></i>
                                </button>
                            </li>
                            <li class="page-item box-shadow-int mx-3">
                                <div class="box-shadow-int text-center">
                                    <p class="page-month pt-2">{{ month }}</p>
                                    <p class="page-year pb-2">{{ year }}</p>
                                </div>
                            </li>
                            <li class="page-item">
                                <button (click)="addMonth()" class="button-mes">
                                    <i class="fas fa-caret-right"></i>
                                </button>
                            </li>
                        </ul>
                        <!-- Tabla editable -->
                        <div class="mb-3 text-right">
                            <h5 class="mb-0">
                                <span class="custom-box">
                                    <span class="custom-text-gray"
                                        >Te queda:</span
                                    >
                                    <span class="custom-text-bold">$ </span
                                    ><span class="custom-text-money">{{
                                        presupuestoMonto | currency: 'CLP'
                                    }}</span
                                    ><i
                                        class="fas fa-money-bill-wave text-principal custom-margin"
                                    ></i>
                                </span>
                            </h5>
                        </div>

                        <form [formGroup]="form" (ngSubmit)="update()">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Categoria</th>
                                        <th>Monto</th>

                                        <th>
                                            <button
                                                type="button"
                                                title="Add New"
                                                class="btn btn-primary"
                                                (click)="addUser()"
                                                [disabled]="isAdding"
                                            >
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container
                                        *ngFor="
                                            let presupuesto of presupuestos;
                                            let i = index
                                        "
                                    >
                                        <tr
                                            *ngIf="
                                                presupuestoSelected !==
                                                presupuesto
                                            "
                                            (click)="selectUser(presupuesto)"
                                        >
                                            <td>
                                                <i
                                                    [class]="
                                                        presupuesto.imgCategoria
                                                    "
                                                    class="icono-categoria"
                                                ></i>

                                                {{ presupuesto.categoria }}
                                            </td>

                                            <ng-template #contenidoAlternativo>
                                                <td>-</td>
                                            </ng-template>

                                            <td>
                                                {{
                                                    presupuesto.monto
                                                        | currency: 'CLP'
                                                }}
                                            </td>

                                            <td>
                                                <button
                                                    class="btn btn-danger btn-sm mx-1"
                                                    title="delete"
                                                    type="button"
                                                    (click)="
                                                        deleteUser(
                                                            presupuesto,
                                                            i
                                                        )
                                                    "
                                                >
                                                    <i class="fas fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>

                                        <tr
                                            *ngIf="
                                                presupuestoSelected ===
                                                presupuesto
                                            "
                                            class="table-primary"
                                        >
                                            <td>
                                                <select
                                                    class="custom-select form-control-border"
                                                    formControlName="categoria"
                                                    [value]="
                                                        presupuesto.categoriaId
                                                    "
                                                    title="Categoria"
                                                >
                                                    <option value="-1">
                                                        Seleccione una categoria
                                                    </option>
                                                    <option
                                                        *ngFor="
                                                            let categoria of categorias
                                                        "
                                                        [value]="categoria.id"
                                                    >
                                                        {{
                                                            categoria.descripcion
                                                        }}
                                                    </option>
                                                </select>
                                            </td>

                                            <td>
                                                <input
                                                    type="text"
                                                    class="form-control"
                                                    formControlName="monto"
                                                    [value]="presupuesto.monto"
                                                    title="Monto"
                                                />
                                            </td>

                                            <td>
                                                <button
                                                    class="btn btn-primary btn-sm mx-1"
                                                    title="update"
                                                    type="submit"
                                                    [disabled]="form.invalid"
                                                >
                                                    <i class="fas fa-check"></i>
                                                </button>

                                                <button
                                                    class="btn btn-danger btn-sm mx-1"
                                                    title="cancel"
                                                    (click)="cancel()"
                                                    type="button"
                                                >
                                                    <i class="fas fa-ban"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>

                            <input type="checkbox" /> Mantener presupuesto mes
                            anterior
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4">
                <div class="card">
                    <app-grafico-dona
                        [data]="graficoDonaPresupuesto"
                    ></app-grafico-dona>
                </div>
            </div>

          
        </div>


        <div class="row">
            <div class="col-12 col-sm-12">
                <div class="card">
                    <app-grafico-barra  [data]="graficoDonaPresupuesto"></app-grafico-barra>
                </div>
            </div>
        </div>
    </div>
</section>
