.icono-categoria {
    color: #bee0e4;
    font-size: 24px;
    margin-right: 10px;
}

.custom-box {
    /* Estilos generales que aplican a todas las pantallas */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16); 
    padding: 10px;
}

/* Estilos específicos para pantallas pequeñas (móviles) */
@media (max-width: 600px) {
    .custom-box {
        flex-direction: column; /* Cambia la orientación a vertical para móviles */
    }
}

.custom-text-gray {
    font-weight: bold;
    display: inline-block;
    font-size: 14px;
    color: gray;
}

.custom-text-bold {
    font-weight: bold;
}

.custom-text-money {
    font-weight: bold;
    font-size: 16px;
}

.custom-margin {
    margin-left: 5px;
}


.custom-chart {
    /* Ajusta el tamaño de la fuente */
    font-size: 14px;

    /* Ajusta el ancho del gráfico */
    width: 100%;

    /* Ajusta el espaciado entre barras */
    margin-bottom: 20px; /* Cambia el valor según tus necesidades */
}


