.bank-image {
    max-width: 100%;
  }
  
  @media screen and (min-width: 576px) {
    .bank-image {
      max-width: 150px;  /* Puedes ajustar este valor a tus necesidades */
    }
  }
  

  .btn-verde-claro {
    background-color: #8ed6d7; /* El color pastel principal que usas en las olas */
    color: #fff; /* Texto en blanco */
    border: none;
  }
  
  .btn-verde-claro:hover {
    background-color: #68c0c1; /* Un poco más oscuro cuando pasas el ratón */
  }
  