<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-main mb-3">
                    <strong>Frases enemigas de tus finanzas</strong>
                </h1>
                <!-- <div class="card mb-3">
                    <div class="card-body d-flex flex-column align-items-center" style="padding: 20px;">   
                    <p>No hay nada mejor que aprender de los que ya han triunfado, o al
                            menos en el papel se ve así. El positivismo es parte de su vida, y
                            asi lo han transmitido en cada una de las acciones.
                        </p>
                    </div>
                </div>        -->
                <p class="mb-4 text-justify">No hay nada mejor que aprender de los que ya han triunfado, o al
                    menos en el papel se ve así. El positivismo es parte de su vida, y
                    asf lo han transmitido en cada una de las acciones.
                </p>
            </div>
            <div class="col-sm-6">
                <img src="../../../assets/img/pig.png" class="img-fluid" alt="Imagen de cerdo">
            </div>
        </div>
    </div>
</div>
<section class="content" style="margin-bottom: 15px;">
    <div class="row">
        <!-- Aqui codigo de carucel -->
        <div class="col-md-12">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicadores -->
                <ol class="carousel-indicators">
                    <li *ngFor="let index of indicatorIndexes" data-target="#myCarousel" [attr.data-slide-to]="index"
                        [class.active]="index === 0"></li>
                </ol>
                <!-- Slides del carrusel -->
                <div class="carousel-inner">
                    <div *ngFor="let cardGroup of cardGroups; let i = index" [class.active]="i === 0"
                        class="carousel-item">
                        <div class="row">
                            <div *ngFor="let card of cardGroup" class="col-md-4">
                                <!-- Utiliza un contenedor para establecer una altura uniforme para las tarjetas -->
                                <div class="card-container">
                                    <div class="card mb-3" style="overflow: hidden;">
                                        <!-- Establecer una altura máxima para la imagen -->
                                        <img [src]="card.imageUrl" class="card-img-top" alt="Imagen"
                                            style="width: 100%; max-height: 200px;">
                                        <div class="card-body">
                                            <!-- Agregar la fecha arriba del título -->
                                            <small class="text-muted">{{ card.date }}</small>
                                            <h5 class="text-main"><strong>{{ card.title }}</strong></h5>
                                            <p class="card-text text-justify">{{ card.content }}</p>
                                            <!-- Agregar el botón "Leer más" con estilos de tu aplicación -->
                                            <button class="btn btn-normal" (click)="showMore(card)">
                                                Leer más <i class="fas fa-arrow-right"></i>
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Controles del carrusel -->
                <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>
                </a>
                <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Siguiente</span>
                </a>
            </div>
        </div>
    </div>
    <!-- Termina codigo caucel -->
    <div class="row">
        <div class="col-md-5">
            <div class="row flex-column">
                <div class="col-md-12">
                    <div class="card mb-3">
                        <div class="card-body d-flex flex-column align-items-center text-justify"
                            style="padding: 20px;">
                            <h5 class="text-main">
                                <strong> Como ganar dinero en Tik Tok</strong>
                            </h5>
                            <p>Hemos consultado con un experto en redes sociales, sobre el fenómeno de
                                Tik Tok y sobre como se puede ganar dinero con esa plataforma.
                                Aqui van algunas estrategias y ejemplos reales para ganar dinero...
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card mb-3 flex-grow-1">
                        <div class="card-body d-flex flex-column align-items-center text-justify"
                            style="padding: 20px;">
                            <h5 class="text-main">
                                <strong> Equilibrio financiero</strong>
                            </h5>
                            <p>Hemos consultado con un experto en redes sociales, sobre el fenómeno de
                                Tik Tok y sobre como se puede ganar dinero con esa plataforma.
                                Aqui van algunas estrategias y ejemplos reales para ganar dinero...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card mb-3" style="overflow: hidden;">
                <img src="https://images.unsplash.com/photo-1597075095308-0b47fc649175?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1289&q=80"
                    class="card-img-top card-image" alt="Imagen de ejemplo">
                <div class="card-body text-justify">
                    <h5 class="text-main">
                        <strong> Como ganar dinero en Tik Tok</strong>
                    </h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae aliquam magni rem iste
                        excepturi magnam commodi quos minima veniam quis sapiente tempora, soluta, dolorem dolore
                        deleniti corporis nesciunt, itaque aut.</p>
                </div>
            </div>
        </div>
    </div>
</section>