<pf-dropdown hide-arrow class="user-menu">
    <div slot="button">
        <a class="nav-link">
            <pf-image
                [src]="user.picture"
                fallback-src="assets/img/default-profile.png"
                class="user-image-small"
                width="25"
                height="25"
                alt="User Image"
                rounded
            ></pf-image>
        </a>
    </div>
    <div slot="menu">
        <li class="user-header bg-primary">
            <pf-image
                [src]="user.picture"
                fallback-src="assets/img/default-profile.png"
                class="user-image-big"
                alt="User Image"
                width="90"
                height="90"
                rounded
            ></pf-image>

            <p>
                <span>{{ user.user.email }}</span>
            </p>
        </li>
        <!-- Menu Body -->

        <!-- Menu Footer-->
        <li class="user-footer row">
            <div class="col">
                <a [routerLink]="['/profile']" class="btn btn-default btn-flat w-100">
                    Perfil
                </a>
            </div>
            <div class="col">
                <a [routerLink]="['/configuracion']" class="btn btn-default btn-flat w-100">
                    Configuración
                </a>
            </div>
            <div class="col">
                <a (click)="logout()" class=" mt-3 btn btn-default btn-flat w-100">
                    Cerrar sesión
                </a>
            </div>
        </li>
        
    </div>
</pf-dropdown>
